
.sidenav {
        height: 100%;
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: #1F2229;
        padding: 15px;
}

#graph-content {
        height: 100%;
        margin: auto;
        display: block;
        position: fixed;
        top: 0px;
        left: 300px;
        right: 0px;
        background-color: #1F2229;
}

.number-menu {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
}

.input-menu {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
}

.number-btn {
        width: 48%;
        flex-grow: 1;
        margin: 1px;
}

.input-btn {
        width: 30%;
        flex-grow: 1;
        margin: 1px;
}

.player {
        width: 100%;
        display: flex;
        justify-content: space-between;
}

.hidden {
        display: none;
}

.visible {
        display: block;
}